<div ng-controller="importController as impCtrl">

    <h3>{{impCtrl.bootMessage}}</h3>
</div>
<hr />
<div class="panel panel-default">
    <div ng-form="usageForm" class="form-inline">
        <div>
            <label class="control-label">Usage</label>
        </div>
        <div>
            <input type="file"
                   id="fileUsage"
                   name="fileUsage"
                   required
                   valid-file
                   ng-model="UsageUpload"
                   class="form-control file"
                   multiple accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                   ng-files="getTheFiles($files)" />
            <input type="button"
                   class="form-control btn btn-default"
                   ng-click="uploadFiles()"
                   ng-disabled="usageForm.$pristine"
                   value="Upload" />
            <input type="button"
                   ng-click="resetUsage(usageForm)"
                   class="form-control btn btn-warning"
                   value="Reset" />
            {{this.usageResponse}}
        </div>
    </div>
    <div>
        <p></p>
    </div>
    <div ng-form="usageRateForm" class="form-inline">
        <div>
            <label class="control-label">Usage and Rate</label>
        </div>
        <div>
            <input type="file"
            id="fileUsageRate"
            name="fileUsageRate"
            required
            valid-file
            ng-model="UsageRateUpload"
            class="form-control file"
            multiple accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            ng-files="getTheFiles($files)" />
            <input type="button"
                   class="form-control btn btn-default"
                   ng-click="uploadFiles()"
                   ng-disabled="usageRateForm.$pristine"
                   value="Upload" />
            <input type="button"
                   ng-click="resetUsageRate(usageRateForm)"
                   class="form-control btn btn-warning"
                   value="Reset" />
            {{this.usageRateResponse}}
        </div>
    </div>
</div>

